/*
*   Main .css file for the project MRSISA-Tim12
*/

/* varela-round-regular - latin */
@font-face {
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/varela-round-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Varela Round Regular'), local('VarelaRound-Regular'),
         url('../fonts/varela-round-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/varela-round-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/varela-round-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/varela-round-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/varela-round-v12-latin-regular.svg#VarelaRound') format('svg'); /* Legacy iOS */
  }

html {
    font-family: 'Varela Round' !important;
}

/*
*   Home pages css styles
*/
.page-logo {
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 10px !important;
    padding-left: 20px !important;
    background-color: #defbff !important;
}

.logo-icon {
    display: inline-block;
    width: 53px;
    height: 32px;
    /*background-image: url(../img/png/logo_back.png) !important;
    background-size: cover;*/
}

.icon {
	width: 24px;
}

.text-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
/*
.notification {
    text-align: center;
    display: inline;
    text-shadow: none;
    position: absolute;
    right: 50px;
    background-color: red;
}*/

.sidebar-container {
    height: 144vh;
    background-color: #defbff !important;
}

.scroll {
    height: 100%;
    overflow-y: auto;
}

.sidemenu-container {
    background-color: #defbff !important;
}

.logo-default {
    font-size: medium !important;
    color: black;
}

.page-header-inner {
    text-align: center;
    line-height: 64px;
}

.banner {
    font-size: 20px;
}

.sidebar-container {
    float: left;
}

.content-container {
    background-image: url(../img/background_transparent.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    min-height: 100vh;
    padding: 15px;
}

.text {
    margin-left: 170px;
    margin-right: 170px;
    border-radius: 20px;
    background-color: rgb(255, 255, 252, 0.8);
}

.background {
    width: 100%;
}

.calendar {
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 7px;
    border-radius: 5px;
    background-color: #fffffc;
}

/*
*   Patient registration css styles
*/
.page-content-wrapper {
    background-image: url(../img/background_transparent.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.page-content {
    background-color: #defbff !important;
    margin: 0px 200px !important;
}
.page-bar {
    background-color: transparent;
    padding: 10px;
}
.page-title {
    margin: 0px !important;
}
.card-box:hover {
    transform: none;
}
.form-buttons {
    padding-left: 290px;
}

/*
* Add form
*/
.add {
    margin-top: 30px;
    margin-left: 120px;
    margin-right: 120px;
    border-radius: 20px;
    background-color: rgb(255, 255, 252, 0.8);
}
.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.card-box {
    border-radius: 20px !important;
}

.textarea-height {
    height: 100px !important;
}